/*TODO*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: rgb(30, 30, 30);
  color: #1e272e;
  color: #fff;
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/*NAVEGACIÓN*/
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-brand {
  width: 50px;
}

/*NAVBAR LEFT*/
.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 32px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.modo_oscuro {
  width: 40px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/*RESPONSIVE BUTTON*/
.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/*PRINCIPAL*/

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

.btn:hover {
  opacity: 0.9;
  background-color: rgb(114, 66, 7);
}

.principal {
  width: 100%;
  height: 550px;

  background: url("/Proyecto Integrador/Vistas/Imagenes/principal.jpg") no-repeat
    center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  color: #fff;
}

.principal h2 {
  font-size: 50px;
  margin-bottom: 30px;
}

.principal p {
  margin-bottom: 30px;
}

.principal .btn {
  margin-top: 20px;
}

/*NUESTROS PRODUCTOS*/
.nuestros-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: 70px 0;
}

.nuestros-productos img {
  width: 100%;
  height: 180px;
}

.nuestros-productos h3 {
  font-size: 20px;
  margin: 10px 0;
}

.nuestros-productos a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/*NUESTROS SERVICIOS*/
.nuestros-servicios {
  width: 100%;
  height: 350px;

  background: url("/Proyecto Integrador/Vistas/Imagenes/encabezado3.jpg") no-repeat

    center center/cover;
  margin-bottom: 40px;
}

.nuestros-servicios .container {
  width: 40%;
  padding: 90px 0 0 30px;
  color: #fff;
}

.nuestros-servicios p,
.nuestros-servicios-two p {
  margin: 10px 0 20px 0;
}

/*NUESTROS SERVICIOS-TWO*/
.nuestros-servicios-two {
  width: 100%;
  height: 350px;

  background: url("/Proyecto Integrador/Vistas/Imagenes/servicio1.jpg") no-repeat

    center center/cover;
}

.nuestros-servicios-two .container {
  width: 50%;
  padding: 100px 0 0 30px;
}

/*REDES SOCIALES*/
.social {
  margin: 50px;
}
.social p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links a {
  margin: 0 30px;
}

.links a i {
  font-size: 3rem;
}

/*LINKS*/
.footer-links {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}


#nuestros-servicios{
  background-color: rgb(30,30,30);
  color: white;
  text-align: center;
}

#nuestros-servicios .container{
  padding: 50px 12px;
}

#nuestros-servicios h2{
  margin-top: 0;
  font-size: 3.2em;
}

#nuestros-servicios p{
  display: none;
}

#nuestros-servicios .carta{
  background-position: center center;
  background-size: contain;
  padding: 50px 0px;
  margin: 10px;
  border-radius: 20px;
}

.carta:first-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("/Proyecto Integrador/Vistas/Imagenes/encabezado3.jpg");

}

.carta:nth-child(2){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("/Proyecto Integrador/Vistas/Imagenes/encabezado3.jpg");
}

.carta:nth-child(3){
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("/Proyecto Integrador/Vistas/Imagenes/servicio1.jpg");
}


.carta:last-child{
  background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
  )
  ,url("/Proyecto Integrador/Vistas/Imagenes/servicio1.jpg");
}

/*Sucursales*/
.Sucursal{
  align-content: center;
}
.Sucursal img{
  width: 220px;
  height: 290px;
  border-radius: 30px;
}
.Sucursalr.container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.Sucursal p{
  font-size: 19px;
  ;
}
.Sucursal h2{
  font-size: 30px; 
}


/*MOBIL*/
@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }

  .nuestros-productos {
    grid-template-columns: repeat(2, 1fr);
  }

  .nuestros-servicios .container,
  .nuestros-servicios-two .container {
    width: 80%;
  }

  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 500px) {
  .nuestros-productos {
    grid-template-columns: 1fr;
  }

  .nuestros-servicios .container,
  .nuestros-servicios-two .container {
    width: 100%;
    padding: 60px 20px;
  }
  .footer-links .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-links .footer-container ul {
    text-align: center;
  }

}
#fondo {
  background: #19262f;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 91%;
}