<div class="container">

  <app-navbar></app-navbar>
  <router-outlet></router-outlet>
      
  <section class="social">

    <p>Nuestras Redes</p>

    <div class="links">

      <a href="https://facebook.com">
        <i class="fab fa-facebook-f"></i>
      </a>

      <a href="https://twitter.com">
        <i class="fab fa-twitter"></i>
      </a>

      <a href="https://linkdin.com">
        <i class="fab fa-linkedin"></i>
      </a>
      
    </div>

  </section>
  
  <app-footer> </app-footer> 

</div>


