<nav class="nav-main">
  <a class="nav-link" routerLink=""><img src="../../../assets/images/icono.png" alt="Logo Auto" class="nav-brand"></a>
  <ul>
    <li>
      <a class="nav-link" routerLink="">Inicio</a>
    </li>
    <li>
    <li>
      <a class="nav-link" routerLink="usuarios">Usuarios</a>
    </li>
    <li>
      <a class="nav-link" routerLink="servicios" >Servicios</a>
    </li>
    <li>
      <a class="nav-link" routerLink="Productos">Productos</a>
    </li>
    <li>
      <a class="nav-link" routerLink="nosotros">Nosotros</a>
    </li>
    <li>
      <a class="nav-link" routerLink="sucursales">Sucursales</a>
    </li>
    <li>
      <a class="nav-link" routerLink="contacto">Contactos</a>
    </li>
    <li>
      <a class="nav-link" routerLink="informacion">Información Adicional</a>
    </li>
  </ul>
  <ul class="nav-menu-right">
    <li>
      <a href="#">
        <i class="fas fa-search"></i>
      </a>
    </li>
  </ul>
</nav>
