<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">

      <a href="principal.html"><img src="Imagenes/icono.png" alt="Logo Auto" class="nav-brand"></a>

      <ul class="nav-menu">
        <li><a href="principal.html">Inicio</a></li>
        <li><a href="Iniciar-Sesion.html">Usuarios</a></li>
        <li><a href="Servicios.html">Servicios</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="Nosotros.html">Nosotros</a></li>
        <li><a href="Sucursales.html">Sucursales</a></li>
        <li><a href="Contacto.html">Contacto</a></li>
        <li><a href="informacion.html">Informacion Adicional</a></li>
      </ul>

      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>


    <div class="informacion-adicional">
      <div class="info">
        <div class="info-item">
            <img src="./Imagenes/adicionales.jpg">
          <div class="adicional">
            <a href="#">
              <h3>Adicionales para Vehículos</h3>
            </a>
          </div>
        </div>

        <div class="info-item">
            <img src="./Imagenes/devolucionees.jpg">
          <div class="adicional">
            <a href="#">
              <h3>Devolución en otra Ciudad</h3>
            </a>
          </div>
        </div>

        <div class="info-item">
            <img src="./Imagenes/seguro.jpg">
          <div class="adicional">
            <a href="#">
              <h3>Coberturas y Garantías</h3>
            </a>
          </div>
        </div>

        <div class="info-item">
            <img src="./Imagenes/politica.jpg">
          <div class="adicional">
            <a href="#">
              <h3>Políticas de Uso</h3>
            </a>
          </div>
        </div>

        <div class="info-item">
            <img src="./Imagenes/promociones.jpg">
          <div class="adicional">
            <a href="#">
              <h3>Descuentos y Promociones</h3>
            </a>
          </div>
        </div>

        <div class="info-item">
            <img src="./Imagenes/novedades.jpg">
          <div class="adicional">
            <a href="#">
              <h3>Novedades</h3>
            </a>
          </div>
        </div>
      </div>
    </div>


    <section class="social">
      <p>Nuestras Redes</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>
  </div>