
    <section>
      <P> Grupo ¡G4.0! es una compañía líder en alquiler de autos. Miles de personas en todo el mundo eligen disfrutar sus viajes en la comodidad y confort de nuestros vehículos.</p><br>
      <p> Transformamos viajes en experiencias inolvidables. Grupo ¡G4.0! opera desde hace más de 30 años en las principales ciudades y aeropuertos del país, brindando al pasajero la posibilidad de manejar un vehículo en su destino elegido.</p><br>
      <p> Nuestro servicio incluye kilometraje ilimitado y las opciones de cobertura mas flexibles del mercado, para que cada uno disfrute del viaje con total autonomía y tranquilidad. Ademas contamos con tarifas promocionales que permiten tomar el vehículo en una ciudad y devolverlo en otra sin cargo extra</p><br>
      <p> Disponemos de una amplia flota de vehículos que se adaptan a las necesidades de movilidad de todo tipo de pasajeros. Ya sea para vacaciones familiares, viajes con amigos, escapadas en pareja o por negocios. En Grupo ¡G4.0! está el vehículo indicado para cada uno.</p><br>
      <P> Hoy seguimos escribiendo la historia de la industria del rent a car con constante innovación en el servicio.</p><br>
      <P> Subite a un viaje diferente con Grupo G4.0.</P><br>
    </section>

