<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <nav class="nav-main">
    <a href="principal.html"><img src="Imagenes/icono.png" alt="Logo Auto" class="nav-brand"></a>
    <ul class="nav-menu">
      <li><a href="principal.html">Inicio</a></li>
      <li><a href="Iniciar-Sesion.html">Usuarios</a></li>
      <li><a href="Servicios.html">Servicios</a></li>
      <li><a href="productos.html">Productos</a></li>
      <li><a href="Nosotros.html">Sobre Nosotros</a></li>
      <li><a href="Sucursales.html">Sucursales</a></li>
      <li><a href="Contacto.html">Contacto</a></li>
      <li><a href="informacion.html">Informacion Adicional</a></li>
    </ul>

    <ul class="nav-menu-right">
      <li>
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
      </li>
    </ul>
  </nav>




  <h1 class="text-center m-lg-4
 p-lg-5">Registro Profesionales</h1>

  <form class="row g-3 m-lg-4
     p-lg-5">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nombre y Apellido</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Ingrese su nombre y apellido">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Ingrese Contraseña">
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Tipo de Vehiculo</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Tipo de Vehiculo que busca">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Provincia</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Ingrese la Provincia">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="inputCity">
    </div>

    <div class="col-md-2">
      <label for="number" class="form-label">Telefono</label>
      <input type="number" class="form-control" id="inputZip" placeholder="Ingrese su Telefono">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Recordarme
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Registrarme</button>
    </div>
  </form>