/*NUESTRAS SUCURSALES*/
.nuestras-sucursales {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 70px 0;
}


/* .nuestras-sucursales ul {
text-decoration:underline;
font-size: 16px;
} */

.nuestras-sucursales img {
  width: 100%;
  height: 250px;  
  border-radius: 20px;
  
}

.nuestras-sucursales h3 {
  font-size: 2em;
  text-align: center;
  margin: 10px 0;
  
}

.nuestros-productos a {
  padding: 10px 0;
  color: #f2f2f2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/* .nuestras-sucursales h3{
  
  
} */