/*NUESTROS PRODUCTOS*/
.nuestros-productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nuestros-productos div {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nuestros-productos img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.nuestros-productos h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.nuestros-productos p {
  font-size: 14px;
  color: #888;
  margin-bottom: 5px;
}

.nuestros-productos a {
  display: inline-block;
  background-color: #1310a0;
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.nuestros-productos a:hover {
  background-color: #527fd1;
}

.nuestros-productos i {
  margin-left: 5px;
}

