.contenedor__pago {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 128, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: white;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
  }
  
  button.btn-pagar {
    padding: 10px 20px;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    transition: all 300ms;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;

  }
  
  button.btn-pagar:hover {
    background: #fff;
    color: #46A2FD;
  }
  