<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">

      <a href="principal.html"><img src="Imagenes/icono.png" alt="Logo Auto" class="nav-brand"></a>

      <ul class="nav-menu">
        <li><a href="principal.html">Inicio</a></li>
        <li><a href="Iniciar-Sesion.html">Usuarios</a></li>
        <li><a href="Servicios.html">Servicios</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="Nosotros.html">Nosotros</a></li>
        <li><a href="Sucursales.html">Sucursales</a></li>
        <li><a href="Contacto.html">Contacto</a></li>
        <li><a href="informacion.html">Informacion Adicional</a></li>
      </ul>

      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>
