<div class="container">
  <nav class="nav-main">

    <a routerLink=""><img src="../../../assets/Imagenes/icono.png" alt="Logo Auto" class="nav-brand"></a>

    <ul class="nav-menu">
      <li class="nav-item"><a class="nav-link" routerLink="" aria-current="page">Inicio</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="iniciarSesion" aria-current="page">Usuarios</a></li>
      <!-- <li class="nav-item"><a class="nav-link" routerLink="servicios" aria-current="page">Servicios</a></li> -->
      <li class="nav-item"><a class="nav-link" routerLink="productos" aria-current="page">Productos</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="nosotros" aria-current="page">Nosotros</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="sucursales" aria-current="page">Sucursales</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="contacto" aria-current="page">Contacto</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="informacion" aria-current="page">Informacion Adicional</a></li>
    </ul>

    <ul class="nav-menu-right">
      <li>
        <a href="#">
          <i class="fas fa-search"></i>
        </a>
      </li>
    </ul>
  </nav>
<hr>
