.formulario {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.formulario h2 {
  text-align: center;
  margin-bottom: 20px;
}

.imagen-auto {
  text-align: center;
  margin-bottom: 20px;
}

.imagen-auto img {
  width: 30% !important;
  height: auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 5px;
}

.btn-comprar {
  background-color: #46A2FD;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}





















/* .product-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: #45a049;
} */

