<div class="product-cards-container">
  <div class="product-card">
    <img src="../../../assets/Imagenes/auto1.jpg" alt="">
    <h2>Sedan</h2>
    <p>Vehículo de cuatro puertas ideal para viajar en familia</p>
    <h3>Precio: $XX.XX</h3>
    <button>Agregar al carrito</button>
  </div>
  
  <div class="product-card">
    <img src="../../../assets/Imagenes/auto2.jpg" alt="">
    <h2>Deportivo</h2>
    <p>Este súper deportivo te ofrece elegancia y adrenalina</p>
    <h3>Precio: $XX.XX</h3>
    <button>Agregar al carrito</button>
  </div>
  
  <div class="product-card">
    <img src="../../../assets/Imagenes/auto3.jpg" alt="">
    <h2>Familiar</h2>
    <p>Vehículo ideal para viajes de larga distancia</p>
    <h3>Precio: $XX.XX</h3>
    <button>Agregar al carrito</button>
  </div>
  
  <div class="product-card">
    <img src="../../../assets/Imagenes/auto4.jpg" alt="">
    <h2>Camioneta 4x4</h2>
    <p>Vehículo para todo tipo de terreno</p>
    <h3>Precio: $XX.XX</h3>
    <button>Agregar al carrito</button>
  </div>
</div>
