<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <nav class="nav-main">

      <a href="principal.html"><img src="Imagenes/icono.png" alt="Logo Auto" class="nav-brand"></a>

      <ul class="nav-menu">
        <li><a href="principal.html">Inicio</a></li>
        <li><a href="Iniciar-Sesion.html">Usuarios</a></li>
        <li><a href="Servicios.html">Servicios</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="Nosotros.html">Nosotros</a></li>
        <li><a href="Sucursales.html">Sucursales</a></li>
        <li><a href="Contacto.html">Contacto</a></li>
        <li><a href="informacion.html">Informacion Adicional</a></li>
      </ul>

      <ul class="nav-menu-right">
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
        </li>
      </ul>
    </nav>
    <hr>

    <main>

      <div class="contenedor__todo">
        <div class="caja__trasera">
          <div class="caja__trasera-login">
            <h3>¿Ya tienes una cuenta?</h3>
            <p>Inicia sesión para entrar en la página</p>
            <button id="btn__iniciar-sesion">Iniciar Sesión</button>
          </div>
          <div class="caja__trasera-register">
            <h3>¿Aún no tienes una cuenta?</h3>
            <p>Regístrate para que puedas iniciar sesión</p>
            <button id="btn__registrarse">Regístrarse</button>
          </div>
        </div>


        <div class="contenedor__login-register">

          <form action="" class="formulario__login">
            <h2>Iniciar Sesión</h2>
            <input type="text" placeholder="Correo Electronico" id="email" required>
            <input type="password" placeholder="Contraseña" maxlength="20" minlength="10" required>
            <button>Entrar</button>
          </form>

          <form action="" class="formulario__register">
            <h2>Regístrarse</h2>
            <input type="text" placeholder="Nombre completo" required>
            <input type="text" placeholder="Correo Electronico"  id="email2" required>
            <input type="text" placeholder="Usuario" maxlength="16" minlength="8" required>
            <input type="password" placeholder="Contraseña" maxlength="20" minlength="10" id="pass"required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            <button>Regístrarse</button>
          </form>
        </div>
      </div>

    </main>


    <section class="social">
      <p>Nuestras Redes</p>
      <div class="links">
        <a href="https://facebook.com">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://linkdin.com">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </section>
  </div>