<div class="container">

  <router-outlet></router-outlet>

  <!-- <app-navbar></app-navbar> -->
  
  <hr>

  <app-header></app-header>

  <!-- <app-productos></app-productos> -->

  <section class="nuestros-servicios">
    <div class="container">
      <h2>Alquiler con Chofer</h2>
      <p>Ofrecemos un servicio de alquiler con chofer. El mismo puede ser contratado por viaje, por hora o a convenir.</p>        
      <a routerLink="servicios" class="btn">+ Info <i class="fas fa-chevron-right"></i></a>
    </div>
  </section>

  <section class="nuestros-servicios-two">
    <div class="container">
      <h2>Alquiler sin Chofer</h2>
      <p>Ofrecemos un servicio de alquiler sin chofer. Se puede contratar por tiempo limitado o ilimitado.</p>

      <a routerLink="servicios" class="btn">+ Info <i class="fas fa-chevron-right"></i></a>
    </div>
  </section>

  

  <!-- <app-footer> </app-footer>  -->

</div>
