<div class="informacion-adicional">
    <div class="info">
        <div class="info-item">
          <img src="../../../assets/images/adicionales.jpg">
        <div class="adicional">
            <a href="#">
            <h3>Adicionales para Vehículos</h3>
            </a>
        </div>
    </div>

    <div class="info-item">
        <img src="../../../assets/images/devolucionees.jpg">
        <div class="adicional">
          <a href="#">
            <h3>Devolución en otra Ciudad</h3>
          </a>
        </div>
    </div>

    <div class="info-item">
        <img src="../../../assets/images/seguro.jpg">
        <div class="adicional">
            <a href="#">
                <h3>Coberturas y Garantías</h3>
            </a>
        </div>
    </div>

    <div class="info-item">
        <img src="../../../assets/images/politica.jpg">
        <div class="adicional">
            <a href="#">
            <h3>Políticas de Uso</h3>
            </a>
        </div>
    </div>

    <div class="info-item">
        <img src="../../../assets/images/promociones.jpg">
        <div class="adicional">
            <a href="#">
            <h3>Descuentos y Promociones</h3>
            </a>
        </div>
    </div>

    <div class="info-item">
        <img src="../../../assets/images/novedades.jpg">
        <div class="adicional">
            <a href="#">
            <h3>Novedades</h3>
            </a>
        </div>
    </div>

</div>


