main{
    width: 100%;
    height: 550px;

  background: url("../../../assets/Imagenes/registro.jpg") no-repeat
    center center/cover;
}
      
  
  
  form {
    width: 38%;
    padding: 50px 20px;
    background: white;
    position: absolute;
    border-radius: 20px;
    right: 0;
  }
  
  form h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    color: #46A2FD;
  }
  
  form input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #F2F2F2;
    font-size: 16px;
    outline: none;
  }
  
  form button {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 10px 40px;
    margin-top: 30px;
    border: none;
    font-size: 14px;
    background: #46A2FD;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: background 0.3s ease;
  }
  
  .formulario__login {
    opacity: 1;
    display: block;
  }
  
  @media screen and (max-width: 850px) {
    form {
      top: -10px;
      left: 50%;
      margin: auto;
      position: relative;
    }
  }