
.login-form {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form .form-control {
  /* Estilos para los inputs */
 
}

.login-form .login-button {
  background-color: rgb(68, 0, 255);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.ngvalid:not(form).ng-touched {
  /* Estilos cuando hay un estado de error */
  border: 2px solid red;
}

.nginvalid:not(from).ng-touched {
  /* Estilos cuando hay un estado de éxito */
  border: 2px solid green;
}
