<form [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" placeholder="Ingrese email">
  <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required.</div>
  <div *ngIf="loginForm.get('email')?.hasError('email')">Please enter a valid email.</div>

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password" placeholder="Ingrese contraseña">
  <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</div>

  <button type="submit">Log In</button>
</form>
