<form [formGroup]="loginForm" (ngSubmit)="login()"  class="formulario__login">
    <div>
      <label>Correo Electrónico</label>
      <input type="text" formControlName="username" required>
      <div *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
        <span *ngIf="loginForm.get('username').errors.required">El nombre de usuario es requerido.</span>
      </div>
    </div>
    
    <div>
      <label>Contraseña</label>
      <input type="password" formControlName="password" required>
      <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
        <span *ngIf="loginForm.get('password').errors.required">La contraseña es requerida.</span>
      </div>
    </div>
  
    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
  </form>
  