<div class="footer-links">
    <div class="footer-container">
      <ul>
        <li>
          <a href="#">
            <h3>Acceso</h3>
          </a>
        </li>
        <li><a href="Iniciar-Sesion.html">Iniciar Sesión</a></li>
        <li><a href="registro.html">Registrarse</a></li>
        <li><a href="#">Idiomas</a></li>
        <li><a href="#">Recuperar Usuario</a></li>
        <li><a href="#">Preguntas Frecuentes</a></li>
        <li><a href="#">Novedades</a></li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Sucursales</h3>
          </a>
        </li>

        <li><a href="Sucursales.html">Buenos Aires</a></li>
        <li><a href="Sucursales.html">Córdoba</a></li>
        <li><a href="Sucursales.html">Rosario</a></li>
        <li><a href="Sucursales.html">Mar del Plata</a></li>
        <li><a href="Sucursales.html">Bariloche</a></li>
        <li><a href="Sucursales.html">Mendoza</a></li>

      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Contacto</h3>
          </a>
        </li>
        <li><a href="#">Teléfono: +54-9-XXX-XXXX</a></li>
        <li><a href="#">Email: GrupoG4.0@contacto.com.ar</a></li>
        <li><a href="#">Nuestros Vendedores</a></li>
        <li><a href="Contacto.html">Quiero que me Contacten</a></li>
        <li><a href="#">Coordinadores</a></li>
        <li><a href="Contacto.html">Consultas</a></li>
      </ul>
      <ul>
        <li>
          <a href="#">
            <h3>Información Adicional</h3>
          </a>
        </li>
        <li><a href="#">Adicionales para Vehículos</a></li>
        <li><a href="#">Devolución en otra Ciudad</a></li>
        <li><a href="#">Coberturas y Garantías</a></li>
        <li><a href="#">Políticas de Uso</a></li>
        <li><a href="#">Descuentos y Promociones</a></li>
        <li><a href="#">Novedades</a></li>
      </ul>
    </div>
  </div>


  <footer class="footer">
    <h3>G4.0 2022 | Todos los Derechos Reservados</h3>
  </footer>
