
<div class="informacion-adicional">

  <div class="info">
    <div class="info-item">
      <img src="../../../assets/Imagenes/adicionales.jpg">
      <div class="adicional">
      <a href="#">
       <h3>Adicionales para Vehículos</h3>
      </a>
    </div>
  </div>

  <div class="info-item">
    <img src="../../../assets/Imagenes/devolucionees.jpg">
    <div class="adicional">
      <a href="#">
        <h3>Devolución en otra Ciudad</h3>
      </a>
    </div>
  </div>

  <div class="info-item">
      <img src="../../../assets/Imagenes/seguro.jpg">
    <div class="adicional">
      <a href="#">
        <h3>Coberturas y Garantías</h3>
      </a>
    </div>
  </div>

  <div class="info-item">
      <img src="../../../assets/Imagenes/politica.jpg">
    <div class="adicional">
      <a href="#">
        <h3>Políticas de Uso</h3>
      </a>
    </div>
  </div>

  <div class="info-item">
      <img src="../../../assets/Imagenes/promociones.jpg">
    <div class="adicional">
      <a href="#">
        <h3>Descuentos y Promociones</h3>
      </a>
    </div>
  </div>

  <div class="info-item">
    <img src="../../../assets/Imagenes/novedades.jpg">
    <div class="adicional">
      <a href="#">
        <h3>Novedades</h3>
      </a>
    </div>
  </div>
  
</div>
