<body>

  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    
    <app-nav-navegacion></app-nav-navegacion>  
    
    <hr>

    <header class="principal">
        <h2>Somos ¡G4.0!</h2>
        <p>La agencia de alquileres de vehículos por excelencia. Seguridad, compromiso y calidad.</p>
    </header>
      
    <app-usuarios></app-usuarios> <!--usuario: -Productos -servicio-->
          
    <app-paginas-sociales></app-paginas-sociales> <!--Link paginas sociales-->

  </div>
  
  <app-footer-piepagina></app-footer-piepagina>  <!--footer-->
   
  
  
    
  
  
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="./js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/swetalert.js"></script>
  </body>
  <router-outlet></router-outlet>
