<div class="contenedor__login-register">
  <form action="" class="formulario__register">
    <h2>Registrarse</h2>
    <input type="text" placeholder="Nombre completo" required>
    <input type="text" placeholder="Correo Electronico"  id="email2" required>
    <input type="text" placeholder="Usuario" maxlength="16" minlength="8" required>
    <input type="password" placeholder="Contraseña" maxlength="20" minlength="10" id="pass"required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
    <button>Regístrarse</button>
  </form>
</div>
  
